html
    head
        link(rel='stylesheet', href='../static/about.css', type='text/css')
        title Madhuban Valley Dance Academy
    body
        nav#navbar.top
            ul
                div#logo
                    img(src="/static/img/logo.png", alt="")
                li #[a(href='/') Home]
                li #[a(href='/about') About]
                li #[a(href='/contact') Contact]
        section#introSection
            div.intro
                h3#big About Us
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione aspernatur ipsum sit, accusantium laborum, quo alias repudiandae omnis eligendi natus eius nisi molestiae est reprehenderit, sequi unde doloremque beatae qui autem deleniti officiis iusto?
        footer 
            | Copyright © 2022 | https://www.madhubanvda.com | All Rights Reserved
        script
            include ../static/index.js